
.w3-btn{
margin-bottom: 20px;
}

.w3-bar{
	width: 100%; margin: 0;
}
.w3-bar-item {
	font-weight: normal;
}
p {
	font-size: 14px;
}

#heading{
	border-bottom: 1px dotted #000;
}
.w3-radio{
}

.w3-validate{
	padding-right: 10px; 
}

@charset "UTF-8";
@media only screen and (max-width: 600px) {

#footer {
	margin-top: 200px;
}
#pic{
	width: 60%;
}
}

/*-------------BIG SCREENS-------------*/
@charset "UTF-8";
@media only screen and (min-width: 600px) {
#footer {
	margin-top: 100px;
}
}